<%-include('includes/header') %>
    <div class="card" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">Bogsy Video Store</h5>
        <h6 class="card-subtitle mb-2 text-muted">Davao City</h6>
        <div class="row" style="margin: auto;">
          <div class="col-md-4" style="min-width:20rem;">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem; max-height:150px">
              <div class="card-header text-center"> 
                Video Inventory
              </div>
              <div class="card-body text-center">
                <i class="fas fa-house-user card-icon"></i>
                <h5 class="card-text">
                  <%= videoCount %>
                </h5>
              </div>
            </div>
          </div>
  
          <div class="col-md-4" style="min-width:20rem;">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem; max-height:150px">
              <div class="card-header text-center">
                Registered customers  
              </div>
              <div class="card-body text-center">
                <i class="fas fa-users card-icon"></i>
                <h5 class="card-text">
                  <%= customerCount %>
                </h5>
              </div>
            </div>
          </div>

          <div class="col-md-4"  style="min-width:20rem;">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem; max-height:150px">
              <div class="card-header text-center">
                Ongoing Rentals
              </div>
              <div class="card-body text-center">
                <i class="fas fa-file-import card-icon"></i>
                <h5 class="card-text">
                  <%=rentalCount%>
                </h5>
              </div>
            </div>
          </div>
        </div>
       <div class="row">
      </div>
      </div>
<%-include('includes/footer') %>